# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Legacy ZF1
demos/
extras/documentation

# modified files
*~

# SQL tables creation
data/scripts/creation.sql
