<div>
<form name="oklm" novalidate>
	<div class="paragraph-editor">
		<div class="btn-group btn-group-justified">
			<div class="btn jl-tab" ng-class="{'selected':paragraphEditorCtrl.model.type === 'text'}"
			ng-click="paragraphEditorCtrl.changeInputType('text')"><i class="fa fa-pencil"></i></div>
			<div class="btn jl-tab" ng-class="{'selected':paragraphEditorCtrl.model.type === 'picture'}"
			ng-click="paragraphEditorCtrl.changeInputType('picture')"><i class="fa fa-camera-retro"></i></div>
			<div class="btn jl-tab" ng-class="{'selected':paragraphEditorCtrl.model.type === 'location'}"
			ng-click="paragraphEditorCtrl.changeInputType('location')"><i class="fa fa-map"></i></div>
			<div class="btn jl-tab" ng-class="{'selected':paragraphEditorCtrl.model.type === 'external'}"
			ng-click="paragraphEditorCtrl.changeInputType('external')"><i class="fa fa-link"></i></div>
		</div>
		<div class="paragraph-input">
			<textarea 	ng-if="paragraphEditorCtrl.model.type === 'text'"
						placeholder="Lisez nos conseils juste au dessus si vous êtes bloqués"
						ng-model="paragraphEditorCtrl.model.text"
						name="text"
						msd-elastic="\n">
			</textarea>
			<div ng-if="paragraphEditorCtrl.model.type === 'picture'">
				<div 	ngf-drop="paragraphEditorCtrl.uploadFiles($files)" class="drop-box"
						ngf-drag-over-class="'dragover'"
						ngf-pattern="'image/*'"
						ng-disabled="paragraphEditorCtrl.pictureSelected()">
					<div class="jl-btn jl-btn-big"
					ngf-select="paragraphEditorCtrl.uploadFiles($files)"
					ngf-pattern="'image/*'">
						Select a picture
					</div>
					<div class="strut"></div><div class="drop-text">Drop a picture here</div>
				</div>
				<img class="picture-preview" ng-if="paragraphEditorCtrl.model.picture.size > 0" ngf-thumbnail="paragraphEditorCtrl.model.picture">
			</div>
			<div ng-if="paragraphEditorCtrl.model.type === 'location'">
				<div class="jl-table location-searchbar">
					<input class="jl-table-cell" style="width:90%" type="text" name="name" placeholder="Pays, ville, adresse..."
					ng-model="paragraphEditorCtrl.model.location.name"></input>
					<button  class="jl-table-cell jl-btn jl-btn-large" ng-click="paragraphEditorCtrl.changeLocation()">Search</button>
				</div>
				<leaflet 	id="bad_id" lf-center="paragraphEditorCtrl.model.location.center"
							markers="paragraphEditorCtrl.model.location.markers">
				</leaflet>
			</div>
			<div ng-if="paragraphEditorCtrl.model.type === 'external'">
				<input type="text" class="external-bar" name="external" placeholder="Entrez l'URL ici"
				ng-model="paragraphEditorCtrl.model.external.link"></input>
				<p>Une vignette représentant le contenu de la page distante sera insérée dans votre article</p>
				<div class="external-preview">
				</div>
			</div>
		</div>
	</div>
	<div style="text-align: right" ng-if="paragraphEditorCtrl.isCreation() && !paragraphEditorCtrl.isInputEmpty()">
        <div class="jl-btn jl-btn-big jl-btn-empty" ng-click="paragraphEditorCtrl.revert()">
			{{ paragraphEditorCtrl.isCreation() ? 'Delete' : 'Cancel' }}
		</div>
		<div class="jl-btn jl-btn-big" ng-click="paragraphEditorCtrl.save()" ng-if="!paragraphEditorCtrl.isInputEmpty()">
			{{ paragraphEditorCtrl.isCreation() ? 'Add' : 'Update' }}
		</div>
	</div>
</form>
</div>