@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

@nice-blue: #0c4564;

.jetlag-app {
	.navbar {
		position: fixed;
		z-index: 1000;
		width: 100%;
		background-color: rgba(12, 69, 100, 0.41);
	}	

	body, label, .checkbox label {
		font-weight: 300;
	}

	.homepage {
	
		.home-thumbnail {
			
			&.big {
				height: 260px;
				background-size: cover;
				
				.book-overview {
					width: 70%;
					height: 70%;
					background-color: rgba(0,0,0,0.5);
					color: white;
					min-width: 270px;
					min-height: 180px;
					margin: auto;
					border-radius: 5px;
					display: none;
				}
				
				&:hover .book-overview {
					display: block;
				}
			}
			&.small {
				height: 130px;
				background-size: cover;
			}
		}
		
		.searchbar {
			height: 130px;
			
			.input-group-lg {
				margin-top: 25px;
			}
			
			.input-group-lg > input[type="text"], .input-group-lg > span.input-group-addon{
				font-size: 36px;
				border: none;
				background-color: #fff;
				height: 80px;
				border-radius: 0;
				color: @nice-blue;
			}
			
			input[type="text"].form-control {
				transition: none;
				box-shadow: none;
				
				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					color:    rgba(12, 69, 100, 0.59);
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					color:    rgba(12, 69, 100, 0.59);
					opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
					color:    rgba(12, 69, 100, 0.59);
					opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					color:    rgba(12, 69, 100, 0.59);
				}
			}
		}
	}
}
