@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

@jl-blue: #0c4564;
@jl-orange: orange;

.jetlag-app {

	.jl-navbar {
		position: fixed;
		z-index: 2;
		width: 100%;
		height: 55px;
		
		.jl-icon {
			height: 45px;
			width: 45px;
			position: absolute;
			background-color: @jl-blue;
			color: @jl-orange;
			line-height: 35px;
			font-size: 25px;
			padding: 5px;
			top: 5px;
			text-align: center;
	
			&.jl-icon-right {
				right: 10px;
			}
			
			&.jl-icon-middle {
				left: 50%;
				margin-left: -23px;
				
				&.pushed-right {
					margin-left: 122px;
				}
				
				&.pushed-left {
					margin-left: -168px;
				}
			}
			
			&.jl-icon-left {
				left: 10px;
			}
		}
	}	

	.side-bar-wrapper {
		.side-bar {
			position: fixed;
			top: 0;
			z-index: 3;
			background-color: @jl-blue;
			height: 100%;
			width: 290px;
			display: none;
			color: @jl-orange;
			font-size: 25px;
			padding : 10px;
			
			&.side-bar-left {
				left: 0;
			}
			
			&.side-bar-right {
				right: 0;
			}
			
			& > h2 {
				margin-top: 0;
			}
		}
	}
	
	body, label, .checkbox label {
		font-weight: 300;
	}

	.homepage {
	
		&.pushed-right {
			margin-left: 290px;
		}
		&.pushed-left {
			margin-right: 290px;
		}
	
		.home-thumbnail {
			
			&.big {
				height: 260px;
				background-size: cover;
				
				.book-overview {
					width: 70%;
					height: 70%;
					background-color: rgba(0,0,0,0.5);
					color: white;
					min-width: 270px;
					min-height: 180px;
					margin: auto;
					border-radius: 5px;
					display: none;
				}
				
				&:hover .book-overview {
					display: block;
				}
			}
			&.small {
				height: 130px;
				background-size: cover;
			}
		}
		
		.searchbar {
			height: 130px;
			
			.input-group-lg {
				margin-top: 25px;
			}
			
			.input-group-lg > input[type="text"], .input-group-lg > span.input-group-addon{
				font-size: 36px;
				border: none;
				background-color: #fff;
				height: 80px;
				border-radius: 0;
				color: @jl-blue;
			}
			
			input[type="text"].form-control {
				transition: none;
				box-shadow: none;
				
				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
					color:    rgba(12, 69, 100, 0.59);
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
					color:    rgba(12, 69, 100, 0.59);
					opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
					color:    rgba(12, 69, 100, 0.59);
					opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					color:    rgba(12, 69, 100, 0.59);
				}
			}
		}
	}
}
