@import (reference) 'app.less';

.step {
	width: 90%;
	max-width: 800px;
	margin: auto;
	border-left: solid 2px @jl-blue;
	border-right: solid 2px @jl-blue;
	border-bottom: solid 2px @jl-grey;
	
	&:last-child {
		border-bottom: none;
	}

	&.step-open {
	  border-bottom: none;
	  
	  &:last-child {
	    border-bottom: solid 2px @jl-blue;
	  }
		.step-body {
			display: block;
		}
		
		.step-header {
			
			.step-skip {
				display: block;
			}
			
			.step-expand {
				display: none;
			}
		}
	}
	
	.step-header {
		background-color: @jl-blue;
		padding: 10px;
		height: 50px;
		color: @jl-orange;
		
		.step-number {
			padding-right: 10px;
			height: 100%;
			font-size: 1.2em;
			
			&::after {
				content: '|';	
			}
		}
		
		.step-skip {
			display: none;
			border-width: 1px;
			height: 100%;
		}
		
		.step-title {
			height: 100%;
			font-size: 1.2em;
		}
		
		.step-expand {
			height: 100%;
			font-size: 1.2em;
		}
	}
	
	.step-body {
		display: none;
		padding: 20px;
		font-size: 1.2em;
		
		.step-body-or {
			text-align: center;
			margin: 10px auto;
		}
		
		.step-body-section {
			text-align: center;
			margin-bottom: 20px;
			
			&:last-child {
				margin-bottom: 0;
			}
	
			.step-body-section-title {
				margin-bottom: 10px;
			}
			
			.step-body-section-caption {
				font-size: 0.8em;
				font-style: italic;
				margin-bottom: 10px;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
			
			.step-body-section-input {
				margin-bottom: 10px;
				
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}	
}