@import (reference) "app.less";

.travelbook {
  margin: 0 -15px;
  .travelbook-header {
    .header-top {
      background-position: center;
	  background-size: 100% auto;
	  height: 400px;
	  min-width: 800px;
	  
	  .header-top-content {
	    background-color: rgba(0,0,0,0.3);
		height: 100%;
		padding-top: 1px;
		position: relative;
        
	    h1, .description {
	      text-align: center;
          margin: 0 auto;
          color: white;
          
          input, textarea {
            color: initial;
          }
	    }
	  
        .header-top-content-title {
            margin: 150px auto 0 auto;
            width: 50%;
            font-size: 5rem;
        }
        
	    .description {
	      margin-top: 15px;
		  width: 70%;
		  font-size: 2.5rem;
		  font-weight: 100;
        }
        
		.space-and-time {
		  text-align: center;
		  color: #EAEAEA;
		  font-size: 1.7rem;
		  margin-top: 15px;
		}
        
		.social, .fullscreen {
		  display: inline;
		  position: absolute;
		  .jl-btn, &.jl-btn {
		    color: white;
			border-color: white;
		  }
		}
		.social {
		  bottom: 2px;
		  right: 2px;
		  width: 134px;
		}
		.fullscreen {
		  bottom: 4px;
		  left: 4px;
		}
      }
	}
	
	.header-bottom {
	  margin-top: 4px;
	  padding: 0 6px 0 4px;
	  .jl-btn {
	    float: left;
	  }
	  .authors {
	    text-align: right;
		line-height: 42px;
		height: 100%;
		font-style: italic;
		font-size: 2rem;
		span {
		  &:hover {
		    text-decoration: underline;
			cursor: pointer;
		  }
		  &.more {
		    text-decoration: underline;
		  }
		}
	  }
	  .dates {
	    text-align: right;
	  }
	}
  }
  .travelbook-content-table {
    margin: 15px auto;
    width: 100%;
	
    .content-entry {
	  display: inline-block;
      width: 25%;
      min-width: 300px;
      padding: 10px;
      
      .content-entry-inner {
        height: 150px;
        overflow: hidden;
        background-color: white;
        padding: 5px;
        border: solid black 2px;
        
        .entry-title {
            font-style: italic;
            margin-bottom: 10px;
            font-size: 1.5vw;
        }
      }
	}
    
    .create-article {
       
        .content-entry-inner {
            font-size: 2vw;
            font-style: italic;
            border-color: @jl-blue;
            border-style: dashed;
            color: @jl-blue;
        }
        
        &:hover span {
            text-decoration: underline;
            
            i.fa {
                text-decoration: none;
            }
        }
    }
  }
  
  .travelbook-article {
    margin: 15px auto;
    
    .article-nav-buttons {
	  
      .jl-btn-group {
	    margin: auto;
	    
        .jl-btn {
	      width: 50%;
	    }
	  }
	}
    
    .article-header {
        display: block;
        width: 100%;
        max-width: 800px;
        margin: 20px auto;
        text-align: center;
    }
  }
}